<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>

    <link rel="stylesheet" href="css/style.css" />
</head>


<body>

    <div class="blocPage">
        <h1> Blog</h1>
        <div  ng-controller="postsController as $ctrl">
            <div class="blogEntier">

                <button type="button" class="btn nextprev" name="button" ng-click="$ctrl.back()" ng-if="$ctrl.startIndex > 0 && !$ctrl.selectedPost"> <- </button>

                <div ng-repeat="post in $ctrl.posts | limitTo:3 : $ctrl.startIndex" class="unpost" ng-if="!$ctrl.selectedPost && !$ctrl.newPost">
                    <h2 class="blogH2"> {{post.title}} </h2>
                    <p class="blogP"> {{post.content | limitTo:300}} </p>
                    <button type="button" name="button" class="btn btnLearnMore" ng-click="$ctrl.indexPost(post, $index)">Learn more -></button>
                </div>

                <div class="zoomArticle" ng-if="$ctrl.selectedPost">
                    <button type="button" class="btn btn-close" name="button" ng-click="$ctrl.selectedPost = null"> X </button>
                    <h2 class="articleH2" ng-if="!$ctrl.selectedPost.editMode"> {{$ctrl.selectedPost.title}} </h2>
                    <input ng-if="$ctrl.selectedPost.editMode" type="text" name="title" ng-model="$ctrl.selectedPost.title">
                    <h3 class="articleH3"> le {{$ctrl.selectedPost.PublishedAt*1000 | date:"dd/MM/yyyy"}} </h3>
                    <p class="articleP" ng-if="!$ctrl.selectedPost.editMode"> {{$ctrl.selectedPost.content| limitTo:300}} </p>
                    <textarea rows="8" cols="50" ng-if="$ctrl.selectedPost.editMode" type="text" name="title" ng-model="$ctrl.selectedPost.content"></textarea>
                    <button type="button" class="btn " name="button" ng-if="!$ctrl.selectedPost.editMode" ng-click="$ctrl.edit() ; $ctrl.selectedPost.editMode = true"> Modifier </button>
                    <button type="button" class="btn " name="button" ng-if="$ctrl.selectedPost.editMode" ng-click="$ctrl.selectedPost.editMode = false">Valider</button>
                    <button type="button" class="btn " name="button" ng-if="!$ctrl.selectedPost.editMode" ng-click="$ctrl.delete(selectedPost, $index); $ctrl.selectedPost = null"> Supprimer </button>
                    <button type="button" class="btn " name="button" ng-if="$ctrl.selectedPost.editMode" ng-click="$ctrl.cancel()">Annuler</button>
                </div>

                <div class="newArticle" ng-if="$ctrl.newPost">
                    <button type="button" class="btn btn-close" name="button" ng-click="$ctrl.newPost = null"> X </button>
                    <input type="text" placeholder="Titre de l'article" name="title" ng-model="$ctrl.newPost.title">
                    <input type="text" placeholder="Nom de l'auteur" name="author" ng-model="post.author">
                    <textarea rows="10" cols="100" type="text" placeholder="Contenu de l'article" name="content" ng-model="$ctrl.newPost.content"> </textarea>
                    <button type="button" class="btn " name="button" ng-click="$ctrl.add(); $ctrl.newPost = null"> Valider </button>
                </div>

                <button type="button" class="btn nextprev" name="button" ng-click="$ctrl.next()" ng-if="$ctrl.startIndex < $ctrl.posts.length-3 && !$ctrl.selectedPost"> -> </button>

            </div>
            <button type="button" name="button" ng-click="($ctrl.newPost = {})" class="btn btnAddPost"ng-if="!$ctrl.selectedPost"> + Add article </button>

        </div>

        <!-- <a ui-sref="app.addpost" class="btn btnAddPost"> + Add article </a> -->
    </div>

</body>

<script src="libs/angular.min.js"></script>
<!-- <script type="text/javascript" src="component/addpost.md.js"></script>
<script type="text/javascript" src="component/addpost.js"></script>
-->


<script>
    var app = angular.module('app', []);

    app.controller('postsController', function($http) {

        let _previous = {};
        this.startIndex = 0

        // on récupere les posts

        $http.get('/posts.json').then((res) => {
            this.posts = res.data
        })

        this.indexPost=(post, index) => {
          this.selectedPost = post
          this.selectedPost.position = index
        }

        //on ajoute des posts

        this.add = () => {
            this.posts.push(this.newPost)
            this.newPost = {}
        }

        // on supprime les posts

        this.delete = (selectedPost, index) => {
            this.posts.splice(this.selectedPost.position, 1);
            this.post = null
        }

        // on modifie les posts

        this.edit = () => {
            _previous[this.selectedPost.position] = angular.copy(this.selectedPost)
        }

        //on annule une modification en cours

        this.cancel = () => {
            this.posts[this.selectedPost.position] = _previous[this.selectedPost.position]
            this.selectedPost = null
        }

        // gestion des fleches précedent & suivant

        this.next = function(){
            this.startIndex += 1;
        };

        this.back = function(){
            this.startIndex -= 1;
        };



    })
</script>

</html>
