.blocPage{
  margin: auto;
  background-color: #fafafa;
  margin : 40px;
}

h1{
  text-align: center;
  padding-top : 50px;
}

h2{
  font-size: 1.8em;
}

.blogH2{
  text-align: center;
  margin-bottom: 80px;
}

.articleH3{
  font-weight: normal;
  font-style: italic;
}

p{
  text-align: justify;
}
.blogP{

  width : 280px;
  height : 200px;
  /*overflow: hidden;
  text-overflow: ellipsis;*/
}

.articleP{
  width : auto;
}

.blogEntier{
  display: flex ;
  justify-content: space-between;
  width : 1200px;
  margin: auto;
}

.unpost{
  margin : 15px;
  padding : 35px;
  background-color: white;
  box-shadow: 0 0 50px #d8d8d8;
}

.unpost:hover {
  transform: scale(1.055);
  z-index: 5;
  box-shadow: 0 0 50px gray;
}

.zoomArticle{
  margin : 70px;
  padding : 30px;
  background-color: white; }

.btn{
  color: #739de3;
  border : none;
  background-color: transparent;;
}

.btnLearnMore{
  margin: 8% 0 1% 35%;
  font-size: 1em;
}
.btn-close{
  float : right;
  font-size: 2em;
  font-weight: bold;
}
.btnAddPost{
  font-weight: bold;
  font-size: 1.6em;
  margin : 5% 0 5% 45%;
}

.nextprev{
  width : 40px;
  font-weight: bold;
  font-size: 1em;
}
